* {
    font-family: math, monospace, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#calculator {
    flex-direction: column;
    padding: 0rem 2rem 4rem;
    background-color: turquoise;
    border: 2rem double darkcyan;
}

#display {
    font-size: 4rem;
    width: 34rem;
    text-align: end;
    margin: 2rem;
    color: black;
}

#numbers-div {
    width: 20rem;
    gap: 0.4rem;
}

#commands-div {
    flex-direction: column;
    gap: 0.2rem;
}

.number {
    height: 6rem;
    width: 6rem;
}

.command {
    height: 4rem;
    width: 6rem;
}

.number,
.command {
    font-size: xx-large;
    text-shadow: 1px 2px 4px black;
    border: 2px solid mediumvioletred;
}

button:hover {
    background-color: rgb(235, 218, 228);
    margin-top: -0.2rem;
}